-
  const formSend = [
    formFilelds.name,
    formFilelds.email,
    formFilelds.textarea
  ]

mixin manufacturing
  .manufacturing.text-center
    .stack.manufacturing__stack
      section.container.container--ident
        +title-line("ПРОЦЕСС", true).manufacturing__main-title
        p Уникальная ценность каждой вещи от #[strong "Устюгов и сыновья"] заключается в целом ряде нюансов и значимых деталей. Вся одежда создается полностью вручную в ателье, расположенном в Уфе, Республика Башкортостан. На создание одного костюма в среднем уходит от одного до полутора месяцев.
      +preview({
        src: "img/content/manufactur-1.jpg",
        title: "Всего на создание одного костюма требуется от 25 до 30 часов. Ежедневная кропотличвая работа портных требует полной концентрации в соответствии с отработанными годами технологическими процессами. Все что бы достич совершенства.",
        btnText: false
      }).preview--reverse.manufacturing__preview
      .container.container--ident
        p Техники кроя уникальны и формировались годами благодаря опыту отца семейства Сергея Устюгова. Каждый этап шитья сопровождается этапом глажки, за которым следует этап отдыха изделия, который длится в зависимости от особенностей ткани. На каждом этапе соблюдается строгий контроль качества, начиная с проверки поступивших тканей.
      img(src="img/content/manufactur-big-1.jpg" alt="ПРОЦЕСС")
      section.container.container--ident
        +title-line("ОБ ЭТАПАХ СОЗДАНИЯ ОДЕЖДЫ ОТ УСТЮГОВЫХ").manufacturing__main-title
        p Что делает каждый пиджак Устюговых по настоящему особенным, так это сотни маленьких деталей, создаваемых вручную и отточеных десятилетиями. Настоящие, маленькие, драгоценные секреты. Детали. Потому что разница заключается именно в серии ручных движений и опытного обращения с тканями от этапа раскроя до этапа глажки.
      .manufacturing__m-15
        .grid-tpl-lg-2.manufacturing__gap
          +specification({
            src: "img/content/manufactur-mini-1.jpg",
            caption: "Мы работаем с самыми драгоценными тканями, разработанными специально для одежды класса люкс, которые поставляют не многие элитные  поставщики из Англии, и Италии."
          })
          +specification({
            src: "img/content/manufactur-mini-2.webp",
            caption: "На следующем этапе отрезается ткань, необходимая для производства пиджака. Затем, с помощью мела, наносятся контуры и мы переходим к тщательному раскрою."
          })
      .manufacturing__list-prev
        +preview({
          src: "img/content/manufactur-big-3.webp",
          shadowBox: false
        }).preview--full-width-img
        +preview({
          src: "img/content/manufactur-big-2.webp",
          desc: "The <strong>pocket tacking</strong> stage is a very significant step. As per Vincenzo’s dictates, perfected over the decades by Cesare, it is essential to be able to give the breast pocket that <strong> distinctive “boat” shape</strong>, created in 1930 along with the other revolutionary features of the first unstructured Neapolitan-style jacket.",
          btnText: false,
          shadowBox: false
        }).preview--full-width-img.preview--box-top
      .container.container--ident
        p Строчка за строчкой, в соответствии с тем, как вы представляете свой идеальный костюм.
      .manufacturing__m-15
        .grid-tpl-lg-2.manufacturing__gap
          +specification({
            src: "img/content/manufactur-mini-3.webp",
          })
          +specification({
            src: "img/content/manufactur-mini-4.webp",
          })
      .container.container--ident
        +title-line("Сделать индивидуальный заказ", true)
        +form(action="404.html" method="POST" data-form).manufacturing__form.stack.stack--form
          each item in formSend
            +field-text({
              title: item.title,
              isTextarea: item.isTextarea,
              attrs: {
                placeholder: item.attrs.placeholder,
                required: true,
                type: item.attrs.type ? item.attrs.type : 'text',
                minlength: item.attrs.minlength,
                min: item.attrs.min,
                pattern: item.attrs.pattern,
                'data-pristine-required-message': " ",
                'data-pristine-minlength-message': item.attrs['data-pristine-minlength-message'],
                'data-pristine-min-message': item.attrs['data-pristine-min-message'],
                'data-pristine-pattern-message': item.attrs['data-pristine-pattern-message'],
                "data-number-only": item.attrs['data-number-only'],
                "data-pristine-email-message": item.attrs["data-pristine-email-message"]
              }
            })
          button.btn.btn--bg-gold(disabled, data-form-btn) Отправить
