mixin size-guide
  .size-guide&attributes(attributes)
    p.size-guide__head Size guide
    .size-guide__list
      - for (let i = 1; i < 2; i++)
        a.size-guide__link(href="img/content/size-guide/size-1.webp" data-fancybox="size-guide")
          img(src="img/content/size-guide/size-1.webp" alt="Size guide")
