.img-content {
  position: relative;
}

.img-content__link {
  display: block;
  text-align: center;
  text-decoration: none;
}

.img-content__box {
  text-align: center;

  @media (min-width: $screen-md) {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
  }
}
