mixin history
  .stack.history__stack-gap
    .container.container--ident
      +title-line(pages.history.text, true).history__title
      .stack.history__stack-gap
        .grid-tpl-1.grid-tpl-lg-2.grid-tpl-xl-ai-c.history__gap
          section.history__content
            h2 1987 - TODAY
            p After years of passionate work, Cesare managed to add to his natural talent and invaluable technical and stylistic expertise, inherited from his father Vincenzo, with a further skill that was just as important: #[strong a cutting-edge entrepreneurial and organisational vision], capable of keeping the value of purely artisanal and manual work, typical of the workshop, intact, making it more efficient at the same time. And so, when his children reached the age and level of skill to be able to help him, Cesare decided to go back to Naples to finally set up on his own. Again, needless to say, following in his family’s extraordinary tradition of tailoring.
          .history__img
            img(src="img/content/history-1.webp" alt="ROOTS AND WINGS")
    block
