mixin history
    .stack.history__stack-gap
      .container.container--ident
        +title-line("ROOTS AND WINGS", true).history__title
        .stack.history__stack-gap
          .grid-tpl-1.grid-tpl-lg-2.grid-tpl-xl-ai-c.history__gap
            section.history__content
              h2 1987 - TODAY
              p After years of passionate work, Cesare managed to add to his natural talent and invaluable technical and stylistic expertise, inherited from his father Vincenzo, with a further skill that was just as important: #[strong a cutting-edge entrepreneurial and organisational vision], capable of keeping the value of purely artisanal and manual work, typical of the workshop, intact, making it more efficient at the same time. And so, when his children reached the age and level of skill to be able to help him, Cesare decided to go back to Naples to finally set up on his own. Again, needless to say, following in his family’s extraordinary tradition of tailoring.
            .history__img
              img(src="img/content/history-1.webp" alt="ROOTS AND WINGS")
          .history__content.text-center-xl
            p We now move on to the #[strong second half of the eighties]. A major workshop opened up in #[strong Casalnuovo], a town on the outskirts of #[strong Naples], historically recognised as the birthplace of the #[strong most skilled Neapolitan tailors]. It had great confidence in its own ability, in the #[strong deep-rooted culture of knowledge and expertise]. As well as tireless dedication from Cesare’s sons, #[strong Massimiliano] and #[strong Giuseppe], representing the third generation of #[strong the family], alongside their father.
          .grid-tpl-1.grid-tpl-lg-2.grid-tpl-xl-ai-c.history__gap
            .history__img
              img(src="img/content/history-2.webp" alt="ROOTS AND WINGS")
            section.history__content
              p Over time, not even a lot actually, their expertise and managerial skills developed and considerable signs of appreciation started arriving from the Italian market and, above all, internationally, growing year on year. Massimiliano and Giuseppe wrote the rules, #[strong the alphabet], according to which they structured their production company to make it even stronger, more recognisable, with a world-facing outlook but rooted in the soil of the authentic values instilled in them by their father Cesare. Something very similar to what, at the same time, the great #[strong Alighiero Boetti] was doing for the visual arts, rewriting deeply-established rules, for the first time sanctioning equality between the artist and the craftsman.
          .history__content.text-center-xl
            p Today, #[strong 130 tailors] use only scissors, thimbles, needles and thread to produce #[strong 50 jackets and suits a day], taking no account of higher demand coming from the market. Because the sense of uniqueness that every garment must carry, on leaving the Cesare Attolini workshop, is invaluable and the quality that underlies all stages of the manual working process is #[strong an undisputed dogma].
      block
