-
  const numberPhone = {
    href: 'tel:84952911907',
    text: '+7 (495) 291-19-07'
  }

  const post = {
    href: 'mailto:tamerlan-collection@mail.ru',
    text: 'tamerlan-collection@mail.ru'
  }

  const media = {
    md: 768,
    lg: 1080,
    xl: 1430,
  }

  const listMenu = [
    {
      text: 'ГАЛЕРЕЯ',
      href: '#gallery'
    },
    {
      text: 'ИНТЕРНЕТ МАГАЗИН',
      href: '#e-boutique'
    },
    {
      text: 'BESPOKE',
      href: '#manufacturing'
    },
    {
      text: 'НАСЛЕДИЕ',
      href: '#preview'
    },
    {
      text: 'Контакты',
      href: '#shop'
    },
  ]

  const hasPageMain = (main, link) => !!main ? link : `${pages.index.href}${link}`;

  const pages = {
    404: {
      text: '404',
      href: '404.html',
    },
    index: {
      text: 'Главная',
      href: 'index.html'
    },
    fallWinter: {
      text: 'НАШИ ПОСЛЕДНИЕ РАБОТЫ',
      href: 'fall-winter.html'
    },
    history: {
      text: 'НАСЛЕДИЕ СЕМЬИ УСТЮГОВЫХ',
      href: 'history.html'
    },
    manufacturing: {
      text: 'PROCESSING',
      href: 'manufacturing.html'
    },
    product: {
      text: 'GUS35 A18MA01 R31',
      href: 'product.html'
    },
    catalog: {
      text: 'Каталог',
      href: 'catalog.html'
    }
  }

  const formFilelds = {
    name: {
      title: 'Введите ваше имя',
      attrs: {
        placeholder: 'Введите ваше имя',
        type: "text",
      }
    },
    city: {
      title: 'Ваш город',
      attrs: {
        placeholder: 'Ваш город',
        type: "text",
      }
    },
    phone: {
      title: 'Номер телефона',
      attrs: {
        placeholder: "Ваш телефон",
        type: 'tel',
        pattern: `/(\\+7|8)[\\s(]*\\d{3}[)\\s][\\s]\\d{3}[\\s]\\d{2}[\\s]\\d{2}/i`,
        "data-pristine-pattern-message": " "
      }
    },
    email: {
      title: 'Введите Ваше email',
      attrs: {
        placeholder: "Email",
        type: "email",
        "data-pristine-email-message": " "
      }
    },
    textarea: {
      isTextarea: true,
      title: 'Ваше сообщение:',
      attrs: {
        placeholder: "Ваше сообщение:",
      }
    },
  }
