include ./constans
include ./mock

include ../blocks/shared/logo/logo
include ../blocks/shared/burger/burger
include ../blocks/shared/price/price
include ../blocks/shared/pagination/pagination
include ../blocks/shared/title-line/title-line
include ../blocks/shared/breadcrumbs/breadcrumbs
include ../blocks/shared/share/share
include ../blocks/shared/field-select/field-select
include ../blocks/shared/badge/badge
include ../blocks/shared/modal/modal
include ../blocks/shared/form/form
include ../blocks/shared/field-text/field-text
include ../blocks/shared/field-num/field-num

include ../blocks/entities/page-footer/page-footer
include ../blocks/entities/page-header/page-header
include ../blocks/entities/img-content/img-content
include ../blocks/entities/shadow-box/shadow-box
include ../blocks/entities/collection/collection
include ../blocks/entities/shop/shop
include ../blocks/entities/product/product
include ../blocks/entities/preview/preview
include ../blocks/entities/advantages/advantages
include ../blocks/entities/specification/specification
include ../blocks/entities/product-gallery/product-gallery
include ../blocks/entities/size-guide/size-guide
include ../blocks/entities/product-prev/product-prev

include ../blocks/entities/modal-buy-product/modal-buy-product

include ../blocks/widgets/shops/shops
include ../blocks/widgets/recommended/recommended
include ../blocks/widgets/gallery/gallery
include ../blocks/widgets/history/history
include ../blocks/widgets/manufacturing/manufacturing
include ../blocks/widgets/product-card/product-card
include ../blocks/widgets/catalog/catalog
include ../blocks/widgets/sidebar-menu/sidebar-menu
