-
  const productList = [
    {
      title: 'AUS30_PUZ3_A6WA26_M12',
      price: '4.700,00 ₽'
    },
    {
      title: 'AUS30_PUZ3_A12WA05_M38',
      price: '4.600,00 ₽'
    },
    {
      title: 'AUS30_PUZ3_A12WA05_M40',
      price: '4.700,00 ₽'
    },
    {
      title: 'AUS30_PUZ3_A12WA05_M52',
      price: '4.800,00 ₽'
    }
  ]
