mixin collection
  .collection&attributes(attributes)
    .container
      .grid-tpl-md-2.collection__gap
        .stack.collection__col-gap.order-md-1
          img(src="img/content/collection-2.jpg", alt="Коллекция")
        .stack.collection__col-gap
          img(src="img/content/collection-1.jpg", alt="Коллекция")
          +shadow-box({
            title: 'ИНТЕРНЕТ БУТИК',
            desc: 'Увидеть всю коллекцию',
            btnText: 'В наличии',
            href: pages.catalog.href
          }).shadow-box--main

