.basket {
  position: fixed;
  top: 100px;
  right: 6px;
  z-index: 4000;

  &:hover {
    .basket__wrap {
      transform: scale(1.1);
    }

    .basket__tooltip {
      visibility: visible;
      z-index: 1;
      opacity: 1;
    }
  }

  @media (min-width: $screen-md) {
    right: 50px;
  }
}

.basket__position {
  position: relative;
}

.basket__wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba($white, 0.8);
  border-radius: 50px;
  padding: 15px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba($black, 0.2);
  will-change: transform;
  transition: $time;

  @media (min-width: $screen-md) {
    width: 80px;
    height: 80px;
    padding: 0;
  }
}

.basket__icon {
  width: 40px;
  height: 40px;
  stroke: #000;
}

.basket__count {
  position: absolute;
  right: -3px;
  bottom: -3px;
  height: 24px;
  width: 24px;

  @media (min-width: $screen-md) {
    height: 30px;
    width: 30px;
  }
}

.basket__tooltip {
  visibility: hidden;
  z-index: -1;
  opacity: 0;

  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  margin-right: 20px;

  padding: 9px 13px;
  line-height: 1;
  font-weight: 700;
  border-radius: 3px;
  transition: $time;

  color: $white;
  background-color: #292929;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    border-left-color: #292929;

  }
}
