-
  const listShops = [
    {
      subtitle: "Шоурум",
      title: 'МОСКВА',
      address: 'Москва, ул.Большая Очаковская, дом 47А, строение 1, Бизнес Центр «Очаково»'
    },
    {
      subtitle: "Бутик",
      title: 'УФА',
      address: 'ул. Чернышевского, 97 , Кировский район'
    }
  ]

mixin shops
  each item, i in listShops
    - const even = i % 2 === 0;
    +shop({
      subtitle: item.subtitle,
      title: item.title,
      img: i === 0 ? `1.jpg` : '2.webp',
      address: item.address
    })(class=`${even ? 'shop--right-content' : 'shop--left-content'}` id= i && "shop")
