.recommended {
  max-width: 4720px;
  width: 100%;
  margin: 0 auto;
}

.recommended__title {
  font-size: 34px;
  line-height: 54.5px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.recommended__gap {
  gap: 25px;
}
