// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 25.6px !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 10px 60px;
  //white-space: nowrap;
  user-select: none;
  text-align: center;
  font-size: $fz;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  color: $text-color;
  border: 1px solid $black;
  background-image: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: $time;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: $black;
    border-color: $black;
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--gold {
    color: $color-custom-danger;
    border-color: $color-custom-danger;

    &:hover,
    &:focus {
      color: $white;
      background-color: $color-custom-danger;
      border-color: $color-custom-danger;
    }
  }

  &--bg-gold {
    color: $white;
    background-color: $color-custom-danger;
    border-color: $color-custom-danger;

    &:hover,
    &:focus {
      color: $white;
      background-color: lighten($color-custom-danger, 10%);
      border-color: lighten($color-custom-danger, 10%);
    }
  }

  &--border-warning {
    color: $white;
    border-color: $color-dark-warning;

    &:hover,
    &:focus {
      color: $white;
      background-color: transparent;
      border-color: lighten($color-dark-warning, 10%);
    }
  }

  &--light {
    color: $white;
    border-color: $white;

    &:hover,
    &:focus {
      color: $white;
      background-color: $black;
      border-color: $black;
    }
  }

  &--warning {
    color: rgba(139, 69, 39, 1);
    border-color: rgba(139, 69, 39, 1);

    &:hover,
    &:focus {
      color: $white;
      background-color: rgba(139, 69, 39, 1);
      border-color: rgba(139, 69, 39, 1);
    }
  }
}
