mixin field-num
  .field-num(data-counter="")
    .field-num__wrap
      button.field-num__btn.field-num__btn--minus(type="button" data-control="minus")
      input.field-num__number(type="text" value="1"  min="1" max="99" data-count="")
      button.field-num__btn.field-num__btn--plus(type="button" data-control="plus" )
