mixin catalog
  .catalog
    .container.container--ident.container--fluid
      +breadcrumbs().product-card__breadcrumbs.d-none.d-md-flex
        +breadcrumbs-item('Главная', 'index.html')
        +breadcrumbs-item('Каталог')
      +filter
      .grid-tpl-1.grid-tpl-md-3.catalog__gap-products
        each item, i in productList
          +product({
            title: item.title,
            price: item.price,
            img: i + 1,
          }).catalog__product
