extends pug/layout.pug

block meta
  title Главная

block var
  - const classLayout = "page__content--pt-none";
  - const pageMain = true;

block content
  .stack.stack--main-gap
    +img-content({
      img: 5,
      desc: 'Галерея наших работ',
      href: pages.fallWinter.href,
      classNameBox: 'shadow-box--md-danger',
      classBtn: 'btn--border-warning',
      btnText: 'Смотреть'
    })#gallery
    +collection#e-boutique
    +img-content({
      img: 3,
      title: 'Индивидуальный пошив',
      desc: 'Как рождается одежда в "Устуюгов и сыновья"',
      href: pages.manufacturing.href,
      classNameBox: 'shadow-box--dark',
      btnText: 'BESPOKE',
    })#manufacturing
    +preview({
      src: "img/content/content-4.jpg",
      title: "\"Ustyugov&Sons\" - это синоним классических традиций, которые передаются с 1992 года.",
      desc: "Как в прошлом так и по сей день, поколения семьи Устюговых трудятся над созданием одежды сравнимой с произведениями портного искусства. Своим трудом мы воплощаем высочайшее качество из тканей Loro Piana, Dormeuil, Holland & Sherry, Scabal. Приверженность классике и мастерство с которым изготовлена наша одежда, накроют неподражаемым шармом где бы вы ни были.",
      href: pages.history.href,
      classBtn: 'btn--border-warning',
      btnText: 'Смотреть'
    })#preview
    +recommended('Новинки')#recommended
    +shops
    +delivery
