mixin share
  .share
    p.share__text SHARE
    .share__custom.ya-share2(class="ya-share2" data-curtain data-shape="round" data-color-scheme="whiteblack" data-limit="0" data-more-button-type="short" data-services="vkontakte,telegram,whatsapp")

